body {
    width: 1400px;
    height: 595px;
}
header {
    width: 1400px;
    height: 250px;
    margin: 0 auto;
}
h1 {
    width: 415px;
    height: 38px;
    padding-bottom: 25px;
    padding-top: 100px;
    margin:0 auto;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}
hr {
    width: 64px;
    height: 2px;
    
    border: none; 
    background-color: red;  
}
h5 {
    width: 363px;
    margin:0 auto;
    padding-top: 30px;
    
    font-family: 'Open Sans', sans-serif;
   
    font-weight: 400;
    font-size: 14px;
    
    color: #86878B;
}
main {
    padding-top: 67px;

    text-align: center;
}
.content{
    display: inline-block;
    width: 350px;
    padding-left: 32px;
    padding-right: 32px;
}
.content h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
}
.content p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    
}  
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50px;
    margin:0 auto;
  }
.lamp {
    padding: 20px 24px;
}
.keyboard {
    padding: 22px 17px;
}
.lightning {
    padding: 19px 25px 18px 25px;
}
  
