body {
    width: 1400px;
    height: 595px;
    background: #FFFFFF;
}
header {
    width: 1400px;
    height: 250px;
}
h1 {
    width: 409px;
    height: 38px;
    padding-bottom: 25px;
    padding-top: 100px;
    margin:0 auto;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #212121;
}
hr {
    width: 64px;
    height: 2px;
    
    border: none; 
    background-color: red;  
}
h5 {
    width: 363px;
    margin:0 auto;
    padding-top: 30px;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
main {
    width: 1400px;
    height: 345px;
    margin:0 auto;
    padding-top: 67px;

    border: none;
    text-align: center;
}
.content{
    display: inline-block;
    width: 350px;
    height: 225px;
    left: 143px;
    top: 31px;
    padding-left: 32px;
    padding-right: 32px;
}
.content h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.content p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}  
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50px;
    margin:0 auto;
  }
.lamp {
    padding: 20px 24px;
}
.keyboard {
    padding: 22px 17px;
}
.lightning {
    padding: 19px 25px 18px 25px;
}
  